body{

    display:flex;
    justify-content: center;


}

label{
    background-color: rgb(0, 238, 255);
    border: 5px solid rgb(0, 238, 255);
}
ul{
    list-style: none;
    display: flex;
    margin: 0;
}
ul li{
    font-size: 50px;
    padding: 30px 50px;
    border: 3px solid;
}

td{
    padding: 50px;
    border: 0.5px #000 solid;
    cursor: pointer;
    font-family: arial;
    font-size: 15.5px;
}

p{
    transform: translate(250%, 125%)
}
button{

    align-items: center;
}



div.content .xoxo-title{
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

div.content .reset{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
div.reset button{
    box-shadow: 1px 3px 10px rgb(0, 0, .1);
    height: 40px;
    width: 100px;
    background: cornsilk;
    border-color: cornsilk;
    font-family: arial;
}